@inherits UmbracoViewPage<Inlamning2.Models.ContactModel>

<div id="form-outer">
    <h2>Get in touch</h2>
    <span>This form uses smtp to send an email</span>
    @using (Ajax.BeginForm("SubmitForm", "ContactSurface", new AjaxOptions()
    {
        UpdateTargetId = "form-result",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "contactForm.showResult",
        OnFailure = "contactForm.showResult"
    }, new { id = "contact-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ContactFormId)
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                @Html.LabelFor(m => m.Message)
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary contact-submit" type="submit">Send</button>
        </div>
    }
</div>

<div id="form-result"></div>





