@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<div class="home-grid-container ">
    @if (Model.Value("welcomeImage") != null)
    {
        <img src="@Model.Value("welcomeImage")?mode=resize&width=1000&upscale=false" class="img-fluid home-image" />
    }

    
    <span class="home-title">
        @Model.Value("welcomeMessage")
    </span>
    
</div>

<div class="home-grid-container ">
    <div class="text-center">
        <span class="home-title">
            @Model.Value("latestNewsTitle")
        </span>
        <p>
            @Model.Value("latestNewsText")
        </p>
    </div>
    
    @if (Model.Value("latestNewsImage") != null)
    {
        <img src="@Model.Value("latestNewsImage")?mode=resize&width=1000&upscale=false" class="img-fluid home-image" />
    }
</div>
